<div class="bg-wrapper">
  <div class="container-wrap">
    <form [formGroup]="ageForm" (ngSubmit)="calculateAge()">
      <div class="form-wrap">
        <div class="form-group">
          <label class="label">Day</label>
          <input class="input" type="number" id="day" name="day" formControlName="day" required>
          <div class="error" *ngIf="ageForm.get('day')?.invalid">Invalid Day</div>
        </div> 
        <div class="form-group">
          <label class="label" for="month">Month:</label>
          <input class="input" type="number" id="month" name="month" formControlName="month" required>
          <div class="error" *ngIf="ageForm.get('month')?.invalid">Invalid month</div>
        </div>
        <div class="form-group">
          <label class="label" for="year">Year</label>
          <input class="input" type="number" id="year" name="year" formControlName="year" required>
          <div class="error" *ngIf="ageForm.get('year')?.invalid">Invalid year</div>
        </div>
    </div>
    <div class="button-wrap">
      <div class="border-line"></div>
      <button type="submit" [disabled]="ageForm.invalid" class="calculate-btn">
        <img src="assets/images/down-arrow.svg">
      </button>
    </div>
     
    </form>
    
    <div class="age-wrap">
      <p class="age-title">{{  age.years  ? age.years : '--' }} <span class="age-sub">Years</span></p>
      <p class="age-title">{{ age.months ? age.months : '--'}} <span class="age-sub">Months</span> </p>
      <p class="age-title">{{ age.days ? age.days : '--'}} <span class="age-sub">Days</span> </p>
    </div>
  </div>
</div>

